.application {
  width: 100vw;
  height: 100vh;

  .sider {
    z-index: 1;
    height: 100vh;
    box-shadow: 5px 0px 20px -10px rgba(0, 0, 0, .5);
  }
  .header {
    background: #FFFFFF;
    padding: 0;
    border-bottom-style: 'solid';
    border-color: #C7D5D8;
    border-width: 0.5px;

    .trigger {
      font-size: 22px;
      cursor: pointer;
      transition: color .3s;
    }
    
    .trigger:hover {
      color: #1890ff;
    }
  }
  .content {
    background: #EFF4F7;
    padding: 2%;
    width: 100%;
    height: 100%;
  }

}