@import './variable.scss';

* {
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: $FONT, sans-serif !important;
  font-size: 18px !important;
  margin: 0;
  padding: 0;
}

/* For Mobile Portrait */
@media only screen and (max-width: 768px) {
}

/* For Destop Portrait */
@media only screen and (min-width: 768px) {
}
