.login {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .box {
    width: 340px;
    height: 340px;
    position: absolute;
    box-shadow: 0 0 100px rgba(0, 0, 0, .08);
    padding: 20px;

    .logo {
      width: 100%;
      height: 20%;
      text-align: center;
      cursor: pointer;
    }
    .form {
      width: 100%;
    }
  }
}